<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mergel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MergelMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80D5230E1D81A648009315B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80D523201D81A648009315B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80D5232B1D81A648009315B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80E9DA9C1C4446FA0028BC6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80E9DAB41C4446FA0028BC6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
